@model IEnumerable<NCRMM_System.Models.StockTempRecord>


<fieldset class="col-md-12 scheduler-border">
    <legend class="scheduler-border">
        Crops Details
    </legend>
    <div class="col-md-6">
        <div class="form-group">

            <label class="control-label col-md-2">Crops Name</label>
            <div class="col-lg-8">
                @Html.DropDownList("CropsId", null, String.Empty, htmlAttributes: new {@class = "form-control"})
                @*//  @Html.ValidationMessageFor(model => model.Crops_tbl)*@
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group">

            <label class="control-label col-md-2">Crops Catagory</label>
            <div class="col-lg-8">
                @Html.DropDownList("CropsCatagoryId", null, String.Empty, htmlAttributes: new {@class = "form-control"})
                @*@Html.ValidationMessageFor(model => model.CropsCatagoryName)*@
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-2"> Description : </label>
            <div class="col-lg-8">
                <textarea name="Description" class="form-control" cols="" rows="5"></textarea>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-2"> Amount : </label>
            <div class="col-lg-8">
                <input name="Amount" class="form-control"  />
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" style="background-color: red" />
        </div>
    </div>

    <div class="col-md-12" id="list">
        <label id="tempId" style="display:none"></label>
        <table class="table table-responsive table-bordered">
            <tr>
                <th>
                    Crops Name
                </th>
                <th>
                    Crops Catagory Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tbody id="contentpart">
            
            </tbody>
            @*@foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.CropsCatagory_tbl.Crops_tbl.CropsName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CropsCatagory_tbl.CropsCatagoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockAmount)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "EditCropsInfo", new {id = item.tmpStockDetailId}, new {@class = "btn btn-primary"}) |
                        @Html.ActionLink("Delete", "DeleteCropsInfo", new {id = item.tmpStockDetailId}, new {@class = "btn btn-danger"})
                    </td>
                </tr>
            }*@
        </table>

    </div>
</fieldset>
<script>
    $(document).ready(function() {
        function getCropsDetails() {

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetTempStoreCrops", "StockMasterRecordCrops")',
                datatype: 'json',
                contentType: "application/json; charset=utf-8",
                success: function(cropsRecord) {
                    var html = '';
                    var check = '';
                    console.log(cropsRecord);
                    $.each(cropsRecord, function (i, item) {
                        check += item.CropsName + " - " + item.CropsCatagoryName+" - "+item.StockAmount;
                        html += '<tr>';
                        html += '<td>' + item.CropsName + '</td>';
                        html += '<td>' + item.CropsCatagoryName + '</td>';
                        html += '<td>' + item.Description + '</td>';
                        html += '<td>' + item.StockAmount + '</td>';
                        //html += '<td><a href="#" onclick="return _getById(' + item.StudentId + ')">Edit</a> | <a href="#" onclick="return _delete(' + item.StudentId + ')">Delete</a></td>';
                        html += '</tr>';
                    });
                    console.log(check);
                    $("#contentpart").html(html);

                },
                error: function(error) {
                    alert(error);
                }
            });
        }


        $("#CropsId").change(function() {
            $("#CropsCatagoryId").empty();
            $("#CropsCatagoryId").append('<option value="0">Select One</option>');
            console.log($('#CropsId').val());
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCropsCatagory", "CropsCatagory")',
                            dataType: 'json',
                            data: { cropsId: $("#CropsId").val() },
                            success: function (states) {
                                //alert(states);
                                $.each(states, function (i, state) {
                                    $("#CropsCatagoryId").append('<option value="' + state.Value + '">' +
                                        state.Text + '</option>');
                                });
                            },
                            error: function (ex) {
                                alert('Failed to retrieve states.' + ex);
                            }
                        });
                        return false;
          });

        getCropsDetails();

        
    });

    
   
</script>


