@model IEnumerable<NCRMM_System.Models.StockTempRecord>

<fieldset class="col-md-12 scheduler-border">
    <legend class="scheduler-border">
        Crops Details
    </legend>
    <div class="col-md-6">
        <div class="form-group">

            <label class="control-label col-md-2">Crops Name</label>
            <div class="col-md-10">
                @Html.DropDownList("CropsId", null, String.Empty, htmlAttributes: new { @class = "form-control" })
              @*//  @Html.ValidationMessageFor(model => model.Crops_tbl)*@
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group">

            <label class="control-label col-md-2">Crops Catagory</label>
            <div class="col-md-10">
                @Html.DropDownList("CropsCatagoryId", null, String.Empty, htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.CropsCatagoryName)*@
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Description : </label>
            <div class="col-lg-8">
                <textarea name="description" class="form-control" cols="" rows="5"></textarea>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Amount : </label>
            <div class="col-lg-8">
                <textarea name="amount" class="form-control" cols="" rows="5"></textarea>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" style="background-color:red" />
        </div>
    </div>

    <div class="col-md-12">
        <table>
            <tr>
                <th>
                    Crops Name
                </th>
                <th>
                    Crops Catagory Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Action
                </th>
            </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CropsCatagory_tbl.Crops_tbl.CropsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CropsCatagory_tbl.CropsCatagoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CropsCatagory_tbl.Crops_tbl.CropsName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCropsInfo",new {@class="label label-primary", @id = item.tmpStockDetailId }) |
            @Html.ActionLink("Delete", "DeleteCropsInfo", new { @class="label label-danger",@id = item.tmpStockDetailId })
        </td>
    </tr>
}
        </table>
    </div>
</fieldset>

