@using System.Web.Services.Description
@using NCRMM_System.Models
@model NCRMM_System.Models.User_tbl

@{
    ViewBag.Title = "Create";
    // Layout = "~/Views/Shared/_MainEmployeeLayout.cshtml";
    Layout = null;

    List<District_tbl> list=new List<District_tbl>();

    if (ViewBag.JList != null)
    {
        list = (List<District_tbl>)ViewBag.JList;
    }

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>National Crops Reservation Monitoring and Market Linkage System</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.min.css" rel="stylesheet" />
    <link href="/assets/css/style.min.css" rel="stylesheet" />
    <link href="/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="/assets/css/theme/default.css" rel="stylesheet" id="theme" />

    <link href="/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />



    @*<script src="/assets/plugins/jquery/jquery-1.9.1.min.js"></script>*@
    
    <script src="~/assets/plugins/jquery/jquery-1.9.1.min.js"></script>

    @*<script src="/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>*@

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="assets/crossbrowserjs/html5shiv.js"></script>
        <script src="assets/crossbrowserjs/respond.min.js"></script>
        <script src="assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="/assets/plugins/gritter/js/jquery.gritter.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="/assets/plugins/sparkline/jquery.sparkline.js"></script>
    <script src="/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/js/dashboard.min.js"></script>
    @*<script src="/assets/js/apps.min.js"></script>*@
    
    
    @*<script src="/assets/plugins/pace/pace.min.js"></script>*@
    <style>
        .error {
            color: red;
            border-color: red;
            text-align: left;
            
        }
    </style>
    
</head>
<body>
  
    @*<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">*@
<div>
    <table>
    @foreach (var citem in list)
    {
        <tr>
            <td>
                @Html.Display(citem.DistrictName)
            </td>
            <td>
                @Html.Display(citem.Division_tbl.DivisionName)
            </td>
        </tr>
    }
        </table>
</div>
        <div class="content" style="padding-right: 10%;align-content: center">
            <form method="POST" enctype="multipart/form-data" class="form-horizontal" id="form1">


                @Html.AntiForgeryToken()
               

                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <strong>General User Registration Form</strong>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-horizontal">


                                <div class="form-group">
                                    <label class="control-label col-md-2">Full Name</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.FullName, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.FullName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Date of Birth</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.DateOfBirth, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.DateOfBirth)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">NID Number</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.NIDNumber, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.NIDNumber)
                                    </div>
                                </div>
                                @Html.Partial("AddressPartial");
                                <div class="form-group">
                                    <label class="control-label col-md-2">User Name</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.UserName, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.UserName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Password</label>
                                    <div class="col-md-10">
                                        @Html.PasswordFor(model => model.Pass, new {@class = "form-control", @id = "Pass"})
                                        @*@Html.ValidationMessageFor(model => model.Pass)*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Re-Enter Password</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="password" id="repassword" name="repassword" value=""/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-success"/>
                                    </div>
                                </div>


                            </div>
                        </div>

                        @Html.ValidationSummary(true)
                    </div>


                    <hr/>


                </div>


                <div>
                    @Html.ActionLink("Back to Login Page", "Login", "Login")
                </div>

            </form>
            <script type="text/javascript">
                
                $(document).ready(function() {
                    $("#sidebar").hide();
                    $(".container-fluid").hide();
                    $("#form1").validate({
                        rules: {
                            Pass: {
                                required: true,
                                minlength: 6
                            },
                            repassword: {
                                required: true,
                                equalTo: "#Pass"
                            }

                        },
                        messages: {
                            Pass: {
                                required: "Please Enter Your Password",
                                minlength: "Password must be greater than 5 character"
                            },
                            repassword: {
                                required: "Please Re-enter your Password",
                                equalTo: "Password does not match"
                }
                        
                        }
                    });

                });
            </script>
            
      

        </div>


        <!-- end #content -->
        <!-- begin theme-panel -->
        <!-- end theme-panel -->
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    @*</div>*@
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
        $(document).ready(function () {
            App.init();
            Dashboard.init();
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-53034621-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

<!-- Mirrored from seantheme.com/color-admin-v1.7/admin/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2015 10:53:52 GMT -->
</html>




