@model IEnumerable<NCRMM_System.Models.StockMasterMainList_tbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainEmployeeLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StorageAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableStorageAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApprove)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StorageCompany_tbl.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockMasterRecordCrops_tbl.InvoiceNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StorageAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableStorageAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsApprove)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StorageCompany_tbl.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockMasterRecordCrops_tbl.InvoiceNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MasterInfoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MasterInfoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MasterInfoId })
        </td>
    </tr>
}

</table>
