@model NCRMM_System.Models.StockDetailsRecord_tbl

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>StockDetailsRecord_tbl</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.StockDetailsRecordId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StockDetailsRecordId)
                @Html.ValidationMessageFor(model => model.StockDetailsRecordId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CropsId, "CropsId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CropsId", String.Empty)
                @Html.ValidationMessageFor(model => model.CropsId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountMainStocked, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountMainStocked)
                @Html.ValidationMessageFor(model => model.AmountMainStocked)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StockMasterRecordId, "StockMasterRecordId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StockMasterRecordId", String.Empty)
                @Html.ValidationMessageFor(model => model.StockMasterRecordId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AvailableAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AvailableAmount)
                @Html.ValidationMessageFor(model => model.AvailableAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdateDate)
                @Html.ValidationMessageFor(model => model.UpdateDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsReferred, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsReferred)
                @Html.ValidationMessageFor(model => model.IsReferred)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountSecondStocked, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountSecondStocked)
                @Html.ValidationMessageFor(model => model.AmountSecondStocked)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CropsOwnerId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CropsOwnerId)
                @Html.ValidationMessageFor(model => model.CropsOwnerId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
