@model NCRMM_System.Models.StockTempRecord

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainEmployeeLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StockTempRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CropsCatagory_tbl.CropsCatagoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CropsCatagory_tbl.CropsCatagoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tmpStockDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
