@model NCRMM_System.Models.OrderDetalis_tbl

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>OrderDetalis_tbl</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.OrderDetailsId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderDetailsId)
                @Html.ValidationMessageFor(model => model.OrderDetailsId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductsId, "ProductsId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProductsId", String.Empty)
                @Html.ValidationMessageFor(model => model.ProductsId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwnersId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OwnersId)
                @Html.ValidationMessageFor(model => model.OwnersId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Unit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Unit)
                @Html.ValidationMessageFor(model => model.Unit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalPrice)
                @Html.ValidationMessageFor(model => model.TotalPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsApproved, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsApproved)
                @Html.ValidationMessageFor(model => model.IsApproved)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderMasterId, "OrderMasterId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OrderMasterId", String.Empty)
                @Html.ValidationMessageFor(model => model.OrderMasterId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CropsId, "CropsId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CropsId", String.Empty)
                @Html.ValidationMessageFor(model => model.CropsId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsStatus)
                @Html.ValidationMessageFor(model => model.IsStatus)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
