@model NCRMM_System.Models.OrderDetalis_tbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDetalis_tbl</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnersId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnersId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crops_tbl.CropsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crops_tbl.CropsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderMaster_tbl.OrderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderMaster_tbl.OrderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductsList_tbl.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductsList_tbl.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderDetailsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
