@model NCRMM_System.Models.StockReleaseDetails_tbl

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>StockReleaseDetails_tbl</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.StockReleaseId, "StockReleaseId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StockReleaseId", String.Empty)
                @Html.ValidationMessageFor(model => model.StockReleaseId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StockDetailsRecordId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StockDetailsRecordId)
                @Html.ValidationMessageFor(model => model.StockDetailsRecordId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountRelease, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountRelease)
                @Html.ValidationMessageFor(model => model.AmountRelease)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StockMasterRecordCropsId, "StockMasterRecordCropsId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StockMasterRecordCropsId", String.Empty)
                @Html.ValidationMessageFor(model => model.StockMasterRecordCropsId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
